body {
    background-color: rgb(44, 111, 126);
    color: #333;
}

.container {
    background-color: #eee;
    border-radius: 20px;
    height: 70vh;
    margin-top: 10%;
    padding: 20% auto 20%;
}

.row {
    text-align: center;
    height: 100%;
    align-items: center;
}

hr {
    width: 50%;
}

.hide {
    display: none;
}

/* keep content from shifting when user guesses write to page */
